<ion-header>
  <ion-navbar color="navbar-bg">
    <ion-title>Group / School Management</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="school-management-page-content">

  <ion-list no-lines>
    <div class='school-update-list management-item' *ngFor="let school of allSchools | async">
      <button class="management-edit-button button-md" ion-button color="secondary" (click)="selectSchoolToEdit(school)">Edit Group</button>
      <span class="management-edit-label">{{school.name}}, Group {{school.idNumber}} (Cohort {{school.cohort}})</span>
    </div>
  </ion-list>

  <div *ngIf="editSchoolVisible" class='edit-school-section'>
    <ion-card>
      <ion-card-header>
        Edit Group
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>School Name</ion-label>
          <ion-input [(ngModel)]="editSchoolName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Group Number</ion-label>
          <ion-input [(ngModel)]="editSchoolNumber" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Cohort</ion-label>
          <ion-input [(ngModel)]="editSchoolCohort" type="number"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-buttons class='action-buttons'>
        <button ion-button (click)="updateSchool()">Update Group</button>
        <button ion-button color="warning" (click)="hideSchoolEdit()">Cancel</button>
        <button class="extra-space" ion-button color="danger" (click)="deleteSchool()">Delete Group</button>
      </ion-buttons>
    </ion-card>
  </div>

  <ion-buttons>
    <button ion-button (click)="showAddSchool(true)">Add New Group</button>
  </ion-buttons>

  <div *ngIf="addSchoolVisible" class='add-school-section'>
    <ion-card>
      <ion-card-header>
        Add Group
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label floating>School Name</ion-label>
          <ion-input [(ngModel)]="addSchoolName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Group Number</ion-label>
          <ion-input [(ngModel)]="addSchoolNumber" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Cohort</ion-label>
          <ion-input [(ngModel)]="addSchoolCohort" type="number"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-buttons class='action-buttons'>
        <button ion-button (click)="addSchool()">Add Group</button>
        <button ion-button color="warning" (click)="showAddSchool(false)">Cancel</button>
      </ion-buttons>
    </ion-card>
  </div>
</ion-content>
