.school-management-page-content {

  .school-update-list {
    display: flex;

    .school-edit-button {
      cursor: pointer;
    }
    .account-active {
      width: 200px;
    }
    & > * {
      padding: 5px;
    }
  }

  .add-school-section {
    padding: 20px;
  }

  .action-buttons {
    padding: 20px;

    .extra-space {
      float: right;
    }
  }

  .management-edit-label {
    line-height: 36px;
  }

}
