.data-download-page-content {

  max-width: none;

  .half-width {
    display: inline-block;
    width: 45%;
    margin: 0 2.4%;
  }

  .empty {
    font-size: 2.0rem;
    padding: 40px;
  }

  .session-list {
    font-size: 1.5rem;
    margin: 0 auto;

    th, td {
      padding: 8px;
      border: 1px solid #444;
    }

    tbody tr {
      cursor: pointer;
      &:hover {
        background: #EEE;
      }

      &.selected {
        background: #FFA;
        &:hover {
          background: #EE7;
        }
      }

      td.checkbox-cell {
        line-height: 10px;
      }
    }

    span.complete {
      color: green;
    }
    span.incomplete {
      color: red;
      font-weight: bolder;
    }

  }

}
