<ion-header>
  <ion-navbar color="navbar-bg">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="login-page-content">
  <ion-list class="top-margin" *ngIf="device === 'teacher' || device === 'web'">
    <ion-list-header *ngIf="device === 'web'" class="form-header">Teachers, Researchers and Admins:</ion-list-header>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="loginEmail" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="loginPassword" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-buttons class='action-buttons'>
        <button ion-button (click)="login()">Login</button>
        <button ion-button class="space-left" color="secondary" (click)="resetUserPassword()">Reset Password</button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-list class="top-margin" *ngIf="device === 'student' || device === 'web'">
    <ion-list-header *ngIf="device === 'web'" class="form-header">Students:</ion-list-header>
    <ion-item>
      <ion-buttons class='action-buttons'>
        <button ion-button (click)="chooseSchool('join')">Join Session</button>
        <button ion-button class="space-left" color="warning" (click)="chooseSchool('demo')">Start Demonstration</button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-list class="top-margin" *ngIf="device === 'teacher' || device === 'web'">
    <ion-list-header class="form-header">Questions?</ion-list-header>
    <ion-item>
      <ion-buttons class='action-buttons'>
        <button ion-button color="danger" (click)="info()">Click here for information</button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
