.welcome-page-content {
  .instructions {
    text-align: center;
    font-size: large;
    margin: 50px;
  }
  ion-list-header {
    font-size: large;
    margin-bottom: 0;
  }
  .action-form {
    padding-left: 10px;
  }
}
