<ion-header>
  <ion-navbar color="navbar-bg">
    <ion-buttons left>
      <button class="logout-button" outline ion-button (click)="logout()">
        Logout
      </button>
    </ion-buttons>
    <ion-title>Dashboard ({{userName}} <{{userEmail}}>)</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="welcome-page-content">
  <ion-list *ngIf="(unfinishedSessions | async)?.length > 0">
    <ion-list-header>{{isAdmin ? 'All' : 'Your'}} in-progress sessions:</ion-list-header>
    <ion-item *ngFor="let session of unfinishedSessions | async">
      <ion-buttons>
        <div class="button-label">[ <b>{{session.schoolName}}, Group {{session.schoolNumber}}</b> ]: &nbsp; Lesson {{session.lesson}} &mdash; created on {{timeString(session.creationTimestamp)}}<b>{{(!userId || userId == session.creatorsId) ? "" : " by "+session.creatorsName}}</b></div>
        <button ion-button (click)="joinSession(session._id)">{{(!userId || userId == session.creatorsId) ? "Re-Join Session" : "Join as Co-Teacher"}}</button>
        <button ion-button color="danger" (click)="finishSession(session)">Mark Session Finished</button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <br/>
  <br/>

  <ion-list [hidden]="!showSessionManagement">
    <ion-list-header>Session Options:</ion-list-header>
    <ion-item>
      <ion-buttons class='action-buttons'>
        <div class="button-label">to prepare for a lesson:</div>
        <button ion-button (click)="chooseLesson()">Review a Lesson Plan</button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-buttons class='action-buttons'>
        <div class="button-label">as Head Teacher:</div>
        <button ion-button (click)="chooseSchool('create')">Create a New Session</button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-buttons class='action-buttons'>
        <div class="button-label">as Co-Teacher:</div>
        <button ion-button (click)="chooseSchool('join')">Join Someone Else's Session</button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <br/>
  <br/>

  <ion-list [hidden]='!showUserManagement && !showSchoolManagement'>
    <ion-list-header>System Management Options:</ion-list-header>
    <ion-item [hidden]='!showUserManagement'>
      <ion-buttons class='action-buttons'>
        <button ion-button color="secondary" (click)="viewUserManagement()">User Management</button>
      </ion-buttons>
    </ion-item>
    <ion-item [hidden]='!showSchoolManagement'>
      <ion-buttons class='action-buttons'>
        <button ion-button color="secondary" (click)="viewSchoolManagement()">Group / School Management</button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <br/>
  <br/>

  <ion-list [hidden]='!showDataManagement'>
    <ion-list-header>Data Management:</ion-list-header>
    <ion-item>
      <ion-buttons class='action-buttons'>
        <button ion-button color="warning" (click)="viewDataManagement()">Data Management</button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <br/>
  <br/>

  <ion-list>
    <ion-list-header>Questions?</ion-list-header>
    <ion-item>
      <ion-buttons class='action-buttons'>
        <button ion-button color="danger" (click)="about()">About This Software</button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-buttons class='action-buttons'>
        <button ion-button color="danger" (click)="videos()">How-To Videos</button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      For other questions, please contact a Narrative Structure administrator.
    </ion-item>
  </ion-list>

</ion-content>
