// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Options Popover Component
// --------------------------------------------------

$options-popover-width: 200px;
$options-popover-margin: 5px;

.options-popover .popover-content {
 width: $options-popover-width;
 transform-origin: right top 0px !important;
 left: calc(100% - #{$options-popover-width} - #{$options-popover-margin}) !important;
 top: $options-popover-margin !important;
}

body {
  padding: 0;
  margin: 0;
  background-color: lightgrey;
}

ion-app, ion-nav, ion-tab, ion-tabs, .app-root {
  background-color: lightgrey;
  max-width: 1024px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.focus-outline :focus {
  outline: none !important;
}

ion-navbar, ion-header, ion-content {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.alert-wrapper {
  font-size: large;
}

.left {
  float: left;
}

.right {
  float: right;
}

.top-border {
  border-top: 1px solid #dedede;
}

.top-margin-2 {
  margin-top: 100px;
}

.top-margin {
  margin-top: 50px;
}

ion-list-header {
  font-size: large !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.bold {
  font-weight: bold;
}

ion-header {
  border-top: 25px solid black;
}

html {
  //font-size: 80%;
}

.hidden {
  display: none;
}

.scroll-content {
  padding-top: 41px !important;
  overflow-y: auto !important;
}

.wide-input {
  .alert-wrapper {
    max-width: 400px !important;
  }
  .alert-message {
    font-size: large;
  }
}

button[ion-button] {
  font-size: 1.9rem !important;
}

.error-alert {
  .alert-message {
    font-size: large;
  }
}
