.user-management-page-content {

  .user-update-list {
    display: flex;

    .user-edit-button {
      display: inline-block;
      margin-right: 20px;
    }
    .account-active {
      width: 200px;
    }
    & > * {
      padding: 0 5px;
    }
  }

  .add-user-section {
    padding: 20px;
  }

  .action-buttons {
    padding: 20px;
  }

  .management-item {
    margin-bottom: 15px;
  }
}
