<div>
  <lesson01 [session]="session" *ngIf="session.lesson == 1"></lesson01>
  <lesson02 [session]="session" *ngIf="session.lesson == 2"></lesson02>
  <lesson03 [session]="session" *ngIf="session.lesson == 3"></lesson03>
  <lesson04 [session]="session" *ngIf="session.lesson == 4"></lesson04>
  <lesson05 [session]="session" *ngIf="session.lesson == 5"></lesson05>
  <lesson06 [session]="session" *ngIf="session.lesson == 6"></lesson06>
  <lesson07 [session]="session" *ngIf="session.lesson == 7"></lesson07>
  <lesson08 [session]="session" *ngIf="session.lesson == 8"></lesson08>
  <lesson09 [session]="session" *ngIf="session.lesson == 9"></lesson09>
  <lesson10 [session]="session" *ngIf="session.lesson == 10"></lesson10>
  <lesson11 [session]="session" *ngIf="session.lesson == 11"></lesson11>
  <lesson12 [session]="session" *ngIf="session.lesson == 12"></lesson12>
  <lesson13 [session]="session" *ngIf="session.lesson == 13"></lesson13>
  <lesson14 [session]="session" *ngIf="session.lesson == 14"></lesson14>
  <lesson15 [session]="session" *ngIf="session.lesson == 15"></lesson15>
</div>
