.lessons-container {

  .lesson-plan-wrapper {
    //font-family: "Times New Roman", Georgia, serif;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
    //padding-left: .1in;
  }
  lesson-plan {
    padding: .25in .5in .5in;
    display: block;
  }
  h2 {
    font-size: 3.0rem;
  }
  div {
    line-height: 115%;
    font-size: 20px;
    .left {
      display: inline-block;
      width: 16%;
      vertical-align: top;
      float: none;
    }
    .right {
      display: inline-block;
      width: 83.2%;
      vertical-align: top;
      float: none;
    }
  }
  div.faux-bullets {
    .left {
      position: absolute;
      left: 6%;
      width: 7%;
      text-align: right;
    }
    .step-content {
      margin-left: 5%;
    }
    .right {
      display: block;
      width: auto;
    }
  }
  .heading {
    padding: .125in 8px;
  }
  step .heading {
    padding: 0 0 12px;
  }
  .as-step-left {
    padding: 5px;
    border: 3px solid transparent;
    margin: 0;
  }
  .as-step {
    padding: 5px;
    border: 3px solid transparent;
    margin-left: .61in;
  }
  li .as-step, li > p {
    padding: 5px;
    border: 3px solid transparent;
    margin-left: 0;
    + p {
      margin-top: 0;
    }
  }
  .black-border, .hint, .objectives, .overview {
    li > p {
      padding: 0;
      border: 0;
    }
  }
  .bullet {
    position: absolute;
    margin-left: -.25in;
  }
  p {
    margin: 0;
    line-height: 115%;
    font-size: 20px;
    position: relative;
  }
  .l-padding-0 {
    padding-left: 0 !important;
  }
  .line-after {
    margin-bottom: 16px !important;
  }
  .line-before {
    margin-top: 16px !important;
  }
  p.heading + p, .hint p + p {
    margin-top: 0;
  }
  p + p, .right + p, .right + .left, .right + .left + .right, p + .left, p + .left + .right {
    margin-top: 16px;
    &.heading, &.as-step {
      margin-top: 4px;
    }
  }
  p.v-padding + p {
    margin-top: 4px;
  }
  .tablets-only .as-step + p, div.grey-bg p + p {
    margin-top: 8px;
  }
  div.grey-bg step p {
    border: 0;
    padding: 0;
  }
  div.grey-bg step p + p {
    margin-top: 16px;
  }
  div.grey-bg {
    padding: 8px;
  }
  li div.grey-bg {
    margin-left: -.615in;
  }
  ol li div.grey-bg step {
    margin-left: -.24in;
    padding-left: .61in;
  }
  p.heading + .left, p.heading + .left + .right {
    margin-top: 0;
  }
  ol.numbers li {
    list-style-type: decimal;
  }
  .center, .center-left {
    text-align: center;
    padding-bottom: 8px;
  }
  li {
    .tablets-only, .no-tablets {
      .center-left, .as-step-left {
        margin-left: -.615in;
      }
    }
  }
  ol {
    margin: 0;
    li {
      list-style-type: lower-alpha;
      margin-left: .2in;
      step {
        margin-right: -.5in;
        margin-left: -.85in;
        padding-left: .85in;
      }
    }
    ol {
      li {
        list-style-type: decimal;
      }
    }
    ul {
      padding-bottom: 0;
      li {
        list-style-type: disc;
      }
    }
  }
  ul, ol {
    margin: 0;
    padding-bottom: .125in;
    .compact li p {
      border: 0;
      padding: 0;
    }
  }
  .grey-bg step {
    ul, ol {
      padding-left: 0;
      padding-bottom: 0;
      li {
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  step {
    ul, ol {
      padding-left: 30px;
      li {
        padding-left: 5px;
      }
    }
  }
  .events {
    background-color: lightgrey;
    padding: .125in;
  }
  .tablets-only {
    background-color: lightgrey;
    border: 2px solid #000;
    &.modeling {
      border: 0;
    }
  }
  .no-tablets {
    background-color: #EEE;
    border: 1px dashed black;
    step {
      padding-top: .1in;
      padding-bottom: .1in;
    }
  }
  .tablets-only, .no-tablets {
    padding: .125in;
    margin: .125in 0;
    > p {
      padding-left: 8px;
      padding-right: 8px;
    }
    &.modeling > p {
      padding: 8px;
    }
  }
  li .tablets-only, li .no-tablets {
    margin-left: -59.2px;
    padding-left: .74in;
  }
  li ol li .tablets-only, li ol li .no-tablets {
    margin-left: -118.3px;
  }
  .underline {
    text-decoration: underline;
  }
  .black-border {
    border: 3px solid #000;
    padding: 0 .125in;
    hr {
      margin: 0 -.05in;
      background-color: darkgrey;
    }
    ul {
      padding-left: .3in;
    }
  }
  hr {
    height: 2px;
  }
  hr.page-break {
    margin: .5in -.25in;
  }
  .v-padding {
    padding: .125in 0;
  }
  .v-padding-bottom {
    padding-bottom: .125in;
  }
  .bullet-heading {
    padding-left: .25in;
  }
  blockquote {
    margin-top: 0;
    margin-right: 0;
  }
  ol .hint {
    margin-left: -59px;
  }
  .no-line-above {
    margin-top: 0;
  }
  .no-line-below {
    padding-bottom: 0;
  }
  .deindent {
    margin-left: -.64in;
  }
  .overview {
    background-color: #EEE;
    border: 1px dashed black;
    margin: .125in 0;
    padding: .125in .25in;
    ol, ul {
      padding-bottom: 16px;
      margin-left: -.05in;
      li {
        margin-left: 0;
        p {
          margin-left: .05in;
        }
      }
    }
  }
  .hint.connected-above, .hint.connected-below {
    li {
      padding: 0;
    }
  }
  .hint {
    background-color: #EEE;
    border: 1px dashed black;
    margin: .125in 0;
    padding: .125in .25in;
    &.connected-below {
      margin-bottom: 0;
      border-bottom: none;
    }
    &.connected-above {
      margin-top: 0;
    }
    .indent {
      padding-left: 30px;
    }
    .compact-below {
      padding-bottom: 0;
    }
    .compact {
      padding-top: 0;
      padding-bottom: 0;
      li {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    li {
      padding: 0;
      p {
        padding: 0;
      }
      &:first-child {
        padding-top: 8px;
      }
      &:last-child {
        padding-bottom: 8px;
      }
    }
    p {
      padding: 8px 0;
    }
    .t-bullets {
      li {
        list-style-type: none;
        position: relative;
        &:before {
          padding: 0;
          content: "T:";
          position: absolute;
          left: -.35in;
        }
      }
    }
  }
  .grey-bg + .grey-bg {
    margin-top: 12px;
  }
  .grey-bg + .grey-bg.connected {
    margin-top: 0;
  }
  .grey-bg {
    background-color: lightgrey;
    &.light {
      background-color: #EEE;
    }
  }
  .instructions {
    margin: .125in 0 .125in -18px;
    padding: 3px;
    background-color: lightgrey;
    p {
      padding: 8px 0;
    }
    li step p {
      padding: 0;
    }
  }
  .no-bullets li {
    list-style-type: none;
  }
  .end-warning {
    text-align: center;
    padding: 1px 0;
    margin: 20px 0;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
  }

  .end-count {
    text-align: center;
    padding: 30px 0;
    margin: 20px 0;
    font-size: 40px;
  }
}
