.lessons-container {

  .lesson-plan-wrapper {
    //font-family: "Times New Roman", Georgia, serif;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
    //padding-left: .1in;
  }
  lesson-plan {
    padding: .25in .5in .5in;
    display: block;
  }
  h2 {
    font-size: 3.0rem;
  }
  div {
    line-height: 115%;
    font-size: 20px;
    .left {
      display: inline-block;
      width: 16%;
      vertical-align: top;
      float: none;
    }
    .right {
      display: inline-block;
      width: 83.2%;
      vertical-align: top;
      float: none;
    }
  }
  .heading {
    padding: .125in 8px;
  }
  .as-step {
    padding: 5px;
    border: 3px solid transparent;
    margin-left: .61in;
    &.center {
      margin-left: 0;
    }
  }
  li .as-step {
    padding: 5px;
    border: 3px solid transparent;
    margin-left: 0;
  }
  .bullet {
    position: absolute;
    margin-left: -.25in;
  }
  p {
    margin: 0;
    line-height: 115%;
    font-size: 20px;
    position: relative;
  }
  .line-after {
    margin-bottom: 20px !important;
  }
  .line-before {
    margin-top: 20px !important;
  }
  p.heading + p, .hint p + p {
    margin-top: 0;
  }
  p + p, .right + p, .right + .left, .right + .left + .right {
    margin-top: 20px;
    &.heading {
      margin-top: 0;
    }
    &.as-step {
      margin-top: 0;
    }
  }
  ol.numbers li {
    list-style-type: decimal;
  }
  .center {
    text-align: center;
  }
  ol {
    margin: 0;
    li {
      list-style-type: lower-alpha;
      margin-left: .2in;
      step {
        margin-right: -.5in;
        margin-left: -.85in;
        padding-left: .85in;
      }
    }
    ol {
      li {
        list-style-type: decimal;
      }
    }
    ul {
      padding-bottom: 0;
      li {
        list-style-type: disc;
      }
    }
  }
  ul {
    margin: 0;
    padding-bottom: .125in;
  }
  .events {
    background-color: lightgrey;
    padding: .125in;
  }
  .tablets-only {
    background-color: lightgrey;
    border: 3px solid #000;
  }
  .no-tablets {
    background-color: #EEE;
    border: 1px dashed black;
    step {
      padding-top: .1in;
      padding-bottom: .1in;
    }
  }
  .tablets-only, .no-tablets {
    padding: .125in;
    margin: .125in 0;
    > p {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  li .tablets-only, li .no-tablets {
    margin-left: -59px;
    padding-left: .74in;
  }
  .black-border {
    border: 3px solid #000;
    padding: 0 .125in;
    hr {
      margin: 0 -.05in;
      background-color: darkgrey;
    }
    ul {
      padding-left: .3in;
    }
  }
  hr {
    height: 2px;
  }
  hr.page-break {
    margin: .5in -.25in;
  }
  .v-padding {
    padding: .125in 0;
  }
  .bullet-heading {
    padding-left: .25in;
  }
  blockquote {
    margin-top: 0;
    margin-right: 0;
  }
  ol .hint {
    margin-left: -59px;
  }
  .hint {
    background-color: #EEE;
    border: 1px dashed black;
    margin: .125in 0;
    padding: .125in .25in;
    &.connected-below {
      margin-bottom: 0;
      border-bottom: none;
    }
    &.connected-above {
      margin-top: 0;
    }
    .compact {
      padding-top: 0;
      padding-bottom: 0;
      li {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    li {
      padding: .0625in 0;
      p {
        padding: 0;
      }
    }
    p {
      padding: .0625in 0;
    }
    .t-bullets {
      li {
        list-style-type: none;
        position: relative;
        &:before {
          padding: 0;
          content: "T:";
          position: absolute;
          left: -.25in;
        }
      }
    }
  }
  .grey-bg {
    background-color: lightgrey;
  }
  .instructions {
    margin: .125in 0 .125in -18px;
    padding: 3px;
    background-color: lightgrey;
    p {
      padding: .0625in 0;
    }
    li step p {
      padding: 0;
    }
  }
  .no-bullets li {
    list-style-type: none;
  }
  .end-warning {
    text-align: center;
    padding: 30px 0;
    margin: 20px 0;
    font-size: 80px;
    font-weight: bolder;
    text-decoration: underline;
  }

  .end-count {
    text-align: center;
    padding: 30px 0;
    margin: 20px 0;
    font-size: 40px;
  }
}
