<div (click)="clickStep()">
  <div class="done-checkbox">
    <ion-icon name="checkbox-outline" *ngIf="completedStatuses && completedStatuses[stepId]"></ion-icon>
    <ion-icon name="square-outline" *ngIf="!completedStatuses || !completedStatuses[stepId]"></ion-icon>
  </div>
  <div
    class="step-content"
    [ngClass]="{
      subdued: (highlightedStepId !== stepId && completedStatuses && completedStatuses[stepId]),
      highlighted: (highlightedStepId === stepId),
      'active-question': (currentQuestionStepId === stepId),
      question: (questionType !== undefined)
    }"
  >
    <ng-content></ng-content>
  </div>
</div>
