.step-content {
  // probably need to move the <step> styling from lesson-plan.scss to here

  &.subdued {
    opacity: .3;
  }
  &.highlighted {
    padding: 5px;
    border: 1px solid #ff00006b;
  }
}
