<div>
  <div class="done-checkbox-buffer" (click)="clickStep()" (touchstart)="clickStep()">
  </div>
  <div class="done-checkbox" (click)="clickStep()" (touchstart)="clickStep()">
    <ion-icon name="checkbox-outline" *ngIf="session.completedSteps[stepId]"></ion-icon>
    <ion-icon name="square-outline" *ngIf="!session.completedSteps[stepId]"></ion-icon>
  </div>
  <div
    class="step-content"
    [ngClass]="{
      subdued: (session.currentStepId !== stepId && session.questionStepId !== stepId && session.completedSteps[stepId]),
      highlighted: (session.currentStepId === stepId),
      'active-question': (session.questionStepId === stepId),
      question: (questionType !== undefined),
      'open-response': openResponse
    }"
  >
    <ng-content></ng-content>
  </div>
</div>
