.step-content {
  // probably need to move the <step> styling from lesson-plan.scss to here

  &.subdued {
    opacity: .3;
  }
  &.highlighted {
    padding: 5px;
    border: 3px solid #427feb;
  }
  &.question {
    padding: 5px;
    border: 3px solid #1b6b62;
  }
}
