.step-content {
  // probably need to move the <step> styling from lesson-plan.scss to here

  &.subdued {
    opacity: .5;
  }
  &.highlighted {
    padding: 5px;
    border: 3px solid #dfea2c;
    background-color: #dfea2c;
  }
  &.question {
    padding: 5px;
    border: 3px solid #d8d8d8;
  }
  &.active-question {
    border: 3px solid #dc8686;
    background-color: #dc8686;
  }
}
